html, body {
  margin: 0;
  padding: 0;
}

.container {
  height: 98vh;
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

* {
  font-family: sans-serif;
}

h1 {
  font-size: 4vmax;
  font-weight: 800;
  margin: 0;
  line-height: 3vmax;
}

h2 {
  font-size: 2.5vmax;
  font-weight: 600;
  margin: 0;
}


a {
  font-size: 1.2vmax;
}

@media only screen and (orientation: portrait) {
  h1 {
    font-size: 7vmax;
    line-height: 6vmax;
  }
  h2 {
    font-size: 5vmax;
    line-height: 5vmax;
  }
  a {
    font-size: 3vmax;
  }
  .center {
    width: 80vw;
  }
}
